body {
  color: #f6f7f9;
  background: #282c34;
  padding: 0;
}

.full-screen-layout .controls {
  position: absolute;
  top: 5px;
  right: 0;
  width: 25%;
  opacity: 0.7;
  border: none;
  background-color: aliceblue;
}

.full-screen-layout .canvas,
.full-screen-layout {
  border: none;
  padding: 0;
}

.controls {
  padding: 5px;
  padding-bottom: 10px;
}

.control-header {
  display: inline-flex;
  justify-content: flex-end;
}

.full-screen-layout {
  background-color: black;
  padding-bottom: 4px;
}

.full-screen-layout h2 {
  margin: 0 0 5px 0;
  color: black;
  display: inline-flex;
  align-items: end;
}

.full-screen-layout .slider-container {
  background: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 3px 3px 5px #200920;
}

.control-header-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

:focus {
  outline: #31cece solid 1px;
  outline-offset: 2px;
}

.full-screen-layout canvas {
  box-shadow: 3px 3px 40px #5d1a5d;
  border: solid 1px #5d1a5d;
}