body {
  color: #f6f7f9;
  background: #282c34;
  padding: 10px;
}

.default-layout .floating-box {
  background: #383e47;
  box-shadow: 8px 8px 5px #200920;
}

.default-layout {
  display: grid;
  max-width: 100vw;

  height: 100%;
  grid-template-rows: 50px auto auto 50px;
  padding-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

.default-layout-inner {
  height: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto;
}

.top-row {
  grid-template-columns: auto auto;
  max-width: 100vw;
  display: grid;
}

.canvas {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

.controls {
  grid-column: 2;
  box-shadow: 3px 3px 40px #5d1a5d;
  border: solid 1px #5d1a5d;
  /* border: #31cece solid 1px; */
}

.description {
  grid-column: 2;
  grid-row: 2/4;
  padding: 10px;
  overflow-y: scroll;
  background-color: #282c34;
  /* background-color: red; */
}

.description li {
  list-style-type: none;
}

.dialog-img {
  max-width: 85vw;
  max-height: 85vh;
}

.dialog-info {
  color: lightgrey;
  font-weight: 100;
}

.bp4-dialog-body {
  max-width: 95vw;
  max-height: 95vh;
  background: #383e47;
  overflow: unset;
}

.bp4-dialog {
  width: auto;
  height: auto;
  background: #383e47;
}

.app-nav {
  display: flex;
  justify-content: space-between;
}

.app-nav a:link,
.app-nav a:visited {
  color: #31cece;
}

.app-nav div {
  padding: 5px;
  font-size: 1.5em;
}

.def-phrase {
  text-decoration: underline #31cece;
  box-shadow: 1px 1px 3px #31cece;
}

.def-phrase:focus {
  margin-left: 10px;
  margin-right: 10px;
}

.def-definition {
  background-color: #31cece;
  color: #200920;
  padding-left: 10px;
  padding-right: 10px;
}

.ex {
  background-color: #200920;
}

.info {
  background-color: #383e47;
}

.thumbnail-container {
  position: relative;
}

.description img {
  width: -webkit-fill-available;
  padding: 10px;
  border: #5d1a5d solid 2px;
}

.img-instruction {
  position: absolute;
  color: #282c34;
  top: 0;
  padding: 15px;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;

}

.thumbnail-container:hover .img-instruction,
.thumbnail-container:focus .img-instruction {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in;
}