body {
  color: #f6f7f9;
  background: #282c34;
  padding: 10px;
}

.default-layout .floating-box {
  background: #383e47;
  box-shadow: 8px 8px 5px #200920;
}

.default-layout {
  display: grid;
  height: 100%;
  grid-template-rows: 50px auto auto 50px;
  padding-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

.default-layout-inner {
  height: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto;
}

.top-row {
  grid-template-columns: 3fr 1fr;
  display: grid;
}
.canvas {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
}

.controls {
  grid-column: 2;
  box-shadow: 3px 3px 40px #5d1a5d;
  border: solid 1px #5d1a5d;  /* border: #31cece solid 1px; */
}

.description {
  grid-column: 2;
  grid-row: 2/4;
  padding: 0 10px;
  overflow-y: scroll;
  background-color: #282c34;
  /* background-color: red; */
}

.app-nav {
  display: flex;
  justify-content: space-between;

}
.app-nav a:link, .app-nav a:visited {
  color: #31cece;
}

.app-nav div {
  padding: 5px;
  font-size: 1.5em;
}