body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  margin: 15px 0 0 0;
  height: 40px;
  padding: 10px;
}

.app-nav {
  display: flex;
}

.slider-container {
  padding: 5px;
}

.canvas {
  padding: 15px;
}

.canvas-wrapper {
  position: relative;
}

.change-view-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
}