.position-control {
  display: flex;
  flex-direction: column;
}

.position-control-row {
  display: flex;
  justify-content: center;
}

.position-control-row button {
  width: 35px;
  height: 35px;
  margin-right: 35px;
}

.active {
  box-shadow: 3px 3px 10px #31cece;
  border: #31cece solid 1px;
}

.slider-grid {
  display: grid;
  grid-template-columns: 7ch 3ch 1fr 3ch;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

input:focus {
  border: solid black 1px;
  box-shadow: 3px 3px 5px #31cece;
}

.right {
  text-align: right;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  background: #8b278b;
  border-radius: 2px;
  border: solid black 1px;
  height: 10px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  background: #8b278b;
  border-radius: 2px;
  border: solid black 1px;
  height: 10px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /*
  /* creating a custom design */
  height: 20px;
  width: 12px;
  margin-top: -6px;
  background-color: #31cece;
  border-radius: 2%;
  border: solid black 1px;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 12px;
  background-color: #31cece;
  border-radius: 2%;
  border: solid black 1px;
}